In [14]:
import pandas as pd
import numpy as np
import time

def timeit(method):
    def timed(*args, **kw):
        ts = time.time()
        result = method(*args, **kw)
        te = time.time()        
        if 'log_time' in kw:
            name = kw.get('log_name', method.__name__.upper())
            kw['log_time'][name] = int((te - ts) * 1000)
        else:
            print('%r  %2.2f ms' % \
                  (method.__name__, (te - ts) * 1000))
        return result    
    return timed

In [15]:
!ls ml-latest-small/

README.txt  links.csv   movies.csv  ratings.csv tags.csv

In [16]:
movies = pd.read_csv('ml-latest-small/movies.csv')
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [17]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [18]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [19]:
movies = movies.join(ratings.groupby(['movieId']).aggregate('mean')['rating'],
           on='movieId')
movies = movies.rename(columns={'rating': 'mean_rating'})

In [127]:
def sim(id1, id2): 
    id1, id2 = str(id1), str(id2)
    
    # Users who have seen both films
    idx1, idx2 = (ratings.movieId==id1), (ratings.movieId==id2)
    if (sum(idx1) == 0 or sum(idx2) == 0): # Non-existing index
        return 0
    users1 = set(ratings[idx1].userId)
    users2 = set(ratings[idx2].userId)
    users = list(users1 & users2)
    
    # Ratings of those users
    users_idx = ratings.userId.apply(lambda x: x in users)
    rating1 = ratings[(idx1) & (users_idx)].rating
    rating2 = ratings[(idx2) & (users_idx)].rating
    
    # Pearson correlation
    mean1 = movies[movies.movieId==id1].mean_rating.iloc[0]
    mean2 = movies[movies.movieId==id2].mean_rating.iloc[0]
    num = np.dot(rating1 - mean1, rating2 - mean2)

    sd1 = np.sqrt(np.sum((rating1 - mean1)**2))
    sd2 = np.sqrt(np.sum((rating2 - mean2)**2))
    den = sd1 * sd2
    
    # Special cases
    if (den == 0):
        return 0
    
    return num / den

In [157]:
sim(34,2334)

-0.12468244196632929

In [98]:
@timeit
def pred(user, film):
    mean_rating = movies[movies.movieId==film].mean_rating.iloc[0]
    films_user = ratings[ratings.userId==user].movieId
    num, den = 0, 0
    for movie in films_user:
        s = abs(sim(film, movie))
        r = ratings[(ratings.userId==user) & 
                            (ratings.movieId==movie)].rating.iloc[0]
        mean_r = movies[movies.movieId==movie].mean_rating.iloc[0]
        
        num += s * (r - mean_r)
        den += s
        # Special case
    if den == 0: 
        return mean_rating
    return mean_rating + num / den

In [219]:
pred(1,5)

3.9995398554255206

# Versión Real I

In [43]:
import csv

_movie_ratings = {}
_user_ratings = {}
f = open('ml-latest-small/ratings.csv',"r",encoding="utf8")
reader = csv.reader(f)
next(reader)  # skips header line
for line in reader:
    userid = line[0]
    movieid = line[1]
    rating = line[2]
    # ignore line[3], timestamp
    if userid in _user_ratings:
        _user_ratings[userid].append((movieid,rating))
    else:
        _user_ratings[userid] = [(movieid,rating)]

    if movieid in _movie_ratings:
        _movie_ratings[movieid].append((userid,rating))
    else:
        _movie_ratings[movieid] = [(userid,rating)]
f.close()

In [44]:
def get_rating(userid, movieid):
    userid, movieid = str(userid), str(movieid)
    for x in _user_ratings[userid]:
        if x[0] == movieid:
            return float(x[1])
    return None

In [45]:
def sim2(id1, id2):    
    id1, id2 = str(id1), str(id2)
    
    # Users who have seen both films
    if (not(id1 in _movie_ratings)) or \
       (not(id2 in _movie_ratings)): # Non-existing index
        return 0
    users1 = set([x[0] for x in _movie_ratings[id1]])
    users2 = set([x[0] for x in _movie_ratings[id2]])
    users = list(users1 & users2)
    
    # Ratings of those users
    rating1 = np.array([get_rating(user, id1) for user in users])
    rating2 = np.array([get_rating(user, id2) for user in users])
    
    # Pearson correlation
    mean1 = np.mean([float(x[1]) for x in _movie_ratings[id1]])
    mean2 = np.mean([float(x[1]) for x in _movie_ratings[id2]])
    num = np.dot(rating1 - mean1, rating2 - mean2)

    sd1 = np.sqrt(np.sum((rating1 - mean1)**2))
    sd2 = np.sqrt(np.sum((rating2 - mean2)**2))
    den = sd1 * sd2
    
    # Special cases
    if (den == 0):
        return 0
    
    return num / den

In [99]:
@timeit
def pred2(user, film):
    user, film = str(user), str(film)
    if film not in _movie_ratings:
        print('Film not existing')
        return
    mean_rating = np.mean([float(x[1]) for x in _movie_ratings[film]])
    if user not in _user_ratings:
        print('User not existing')
        return
    films_user = [x[0] for x in _user_ratings[user]]
    num, den = 0, 0
    for movie in films_user:
        s = abs(sim2(film, movie))
        r = get_rating(user, movie)
        mean_r = np.mean([float(x[1]) for x in _movie_ratings[movie]])
        
        num += s * (r - mean_r)
        den += s
    # Special case
    if den == 0: 
        return mean_rating
    return mean_rating + num / den

# Versión Real II
Leyendo los datos como en el py

In [47]:
import csv

_movie_ratings2 = {}
_user_ratings2 = {}
f = open('ml-latest-small/ratings.csv',"r",encoding="utf8")
reader = csv.reader(f)
next(reader)  # skips header line
for line in reader:
    userid = line[0]
    movieid = line[1]
    rating = line[2]
    # ignore line[3], timestamp
    if userid not in _user_ratings2:
        _user_ratings2[userid] = {} # each user is a dict with movies and ratings
    _user_ratings2[userid][movieid] = float(rating)

    if movieid not in _movie_ratings2:
        _movie_ratings2[movieid] = {}
    _movie_ratings2[movieid][userid] = float(rating)
f.close()

In [48]:
def sim3(id1, id2):    
    id1, id2 = str(id1), str(id2)
    
    # Users who have seen both films
    if (not(id1 in _movie_ratings2)) or \
       (not(id2 in _movie_ratings2)): # Non-existing index
        return 0
    users1 = set(_movie_ratings2[id1].keys())
    users2 = set(_movie_ratings2[id2].keys())
    users = list(users1 & users2)
    
    # Ratings of those users
    rating1 = np.array([_movie_ratings2[id1][user] for user in users])
    rating2 = np.array([_movie_ratings2[id2][user] for user in users])
    
    # Pearson correlation
    mean1 = np.mean(list(_movie_ratings2[id1].values()))
    mean2 = np.mean(list(_movie_ratings2[id2].values()))
    num = np.dot(rating1 - mean1, rating2 - mean2)

    sd1 = np.sqrt(np.sum((rating1 - mean1)**2))
    sd2 = np.sqrt(np.sum((rating2 - mean2)**2))
    den = sd1 * sd2
    
    # Special cases
    if (den == 0):
        return 0
    
    return num / den

In [104]:
#@timeit
def pred3(user, film):
    user, film = str(user), str(film)
    if film not in _movie_ratings2:
        print('Film not existing')
        return
    mean_rating = np.mean(list(_movie_ratings2[film].values()))
    if user not in _user_ratings2:
        print('User not existing')
        return
    films_user = list(_user_ratings2[user].keys())
    num, den = 0, 0
    for movie in films_user:
        s = abs(sim3(film, movie))
        r = _user_ratings2[user][movie]
        mean_r = np.mean(list(_movie_ratings2[movie].values()))
        
        num += s * (r - mean_r)
        den += s
    # Special case
    if den == 0: 
        return mean_rating
    return mean_rating + num / den

In [101]:
pred3(2,34)

'pred3'  4.98 ms

3.70786866593081

In [102]:
pred2(2,34)

'pred2'  28.83 ms

3.70786866593081

In [103]:
pred(2,34)

'pred'  1955.37 ms

3.70786866593081

In [105]:
user = '7'
films = set([x[0] for x in _user_ratings[user]])
recom = []
for movie in _movie_ratings.keys():
    if not(movie in films):
        recom.append((movie, pred3(user, movie)))

In [110]:
recom.sort(key=lambda x : -x[1])

In [112]:
recom[:7]

[('131724', 5.0),
 ('5746', 5.0),
 ('6835', 5.0),
 ('3851', 5.0),
 ('1151', 5.0),
 ('1631', 5.0),
 ('2075', 5.0)]

In [128]:
def pred4(rating_list, film):
    film = str(film)
    # Shouldn't happend
    if film not in _movie_ratings2:
        print('Film not existing')
        return 0
    mean_rating = np.mean(list(_movie_ratings2[film].values()))
    num, den = 0, 0
    for x in rating_list:
        movie = x[0]
        s = abs(sim3(film, movie))
        r = x[1] # user rating of movie
        mean_r = np.mean(list(_movie_ratings2[movie].values()))

        num += s * (r - mean_r)
        den += s
    # Special case
    if den == 0: 
        return mean_rating
    return mean_rating + num / den

In [131]:
pred4([('1', 0.5),('5', 5.0)], 10)

4.986328938635185

In [154]:
rating_list = [('1', 0.5),('5', 5.0),('7',3.5), ('11',2.5), ('15',0.5), 
               ('1328',5.0), ('55292', 4.0), ('109569', 3.0),
              ('5323', 3.5), ('27793', 4.5), ('3768', 0.5)]
films = set([x[0] for x in rating_list])
recom = []
for movie in _movie_ratings2.keys():
    if not(movie in films):
        recom.append((movie, pred4(rating_list, movie)))

In [161]:
recom.sort(key=lambda x : -x[1])
recom

[('1341', 8.0),
 ('57536', 7.5),
 ('52975', 7.33840723198408),
 ('55908', 7.1875),
 ('7321', 7.0),
 ('1987', 6.75),
 ('7025', 6.75),
 ('904', 6.667567312638946),
 ('53956', 6.5696114853870755),
 ('104457', 6.569507646715775),
 ('858', 6.5670929310063935),
 ('1221', 6.566498601645964),
 ('760', 6.5625),
 ('1437', 6.5625),
 ('4826', 6.5625),
 ('60753', 6.5),
 ('1210', 6.498937859414375),
 ('94985', 6.479186234895414),
 ('1089', 6.422516657331739),
 ('86345', 6.396673774551851),
 ('1997', 6.3962971082138855),
 ('1230', 6.391174859838973),
 ('57504', 6.390803636150061),
 ('2329', 6.365703154068187),
 ('106642', 6.348570985948923),
 ('110', 6.332018715573728),
 ('27584', 6.319507646715774),
 ('4011', 6.31101524000032),
 ('8360', 6.273426726507561),
 ('26629', 6.25),
 ('57274', 6.241488032335175),
 ('7361', 6.236183372066481),
 ('65216', 6.217872590808152),
 ('118888', 6.178571428571429),
 ('127152', 6.178571428571429),
 ('5995', 6.171503301827748),
 ('1247', 6.159035799911251),
 ('94405', 6.15625),
 ('1197', 6.155605773875393),
 ('4308', 6.155132746929457),
 ('2968', 6.147119202481668),
 ('1213', 6.147047140900489),
 ('50', 6.142193571970462),
 ('3033', 6.1295903485967305),
 ('134170', 6.121982280724657),
 ('48322', 6.115183988373406),
 ('6808', 6.1019822246155195),
 ('318', 6.098429265201607),
 ('46578', 6.096697801637774),
 ('7261', 6.094986586826813),
 ('1136', 6.093796012893636),
 ('56156', 6.080034059475002),
 ('1617', 6.074988472098557),
 ('1222', 6.073748812674884),
 ('51927', 6.069507646715774),
 ('101739', 6.069507646715774),
 ('111', 6.062671715766134),
 ('1500', 6.038791774542236),
 ('1704', 6.018142488087419),
 ('5833', 6.016749477117695),
 ('1228', 5.997808560279321),
 ('296', 5.965263407966235),
 ('211', 5.964285714285714),
 ('111781', 5.963977877800797),
 ('47640', 5.9618544015623165),
 ('2580', 5.952089405496626),
 ('2997', 5.951451403813705),
 ('718', 5.951442182639295),
 ('32213', 5.947916666666666),
 ('1476', 5.944811036587057),
 ('953', 5.939402086655659),
 ('541', 5.937895969948969),
 ('65642', 5.933336793777324),
 ('78209', 5.92862035353467),
 ('98083', 5.928571428571429),
 ('778', 5.920313332125167),
 ('1503', 5.914395966133251),
 ('593', 5.913926934280715),
 ('65133', 5.913690476190476),
 ('40815', 5.913601176301561),
 ('260', 5.904356324755543),
 ('1968', 5.900266573151237),
 ('2571', 5.894270601178455),
 ('3578', 5.893273967438049),
 ('1291', 5.88907581031218),
 ('924', 5.88712338692727),
 ('44195', 5.881540011587824),
 ('48516', 5.880069725096521),
 ('58559', 5.875854609257729),
 ('79132', 5.8719136085777315),
 ('6787', 5.862418830498644),
 ('908', 5.8610227168436255),
 ('104879', 5.859702432639671),
 ('6058', 5.850830610246518),
 ('47', 5.846138623625186),
 ('6870', 5.8391813530542755),
 ('1201', 5.832380526022289),
 ('4993', 5.829359356308141),
 ('71899', 5.824373372563693),
 ('44191', 5.818495136463463),
 ('60069', 5.807948774533258),
 ('527', 5.8071060679129),
 ('40723', 5.806283503348023),
 ('56715', 5.804305528709007),
 ('3147', 5.799222779191118),
 ('48394', 5.794853565397677),
 ('2321', 5.794172214683243),
 ('608', 5.784113076281924),
 ('138036', 5.775369091565641),
 ('1215', 5.773610914646804),
 ('2762', 5.773450068779013),
 ('8784', 5.769923972965458),
 ('161580', 5.761904761904762),
 ('910', 5.757109919670622),
 ('33794', 5.755394377463274),
 ('1200', 5.754835239251063),
 ('67534', 5.75),
 ('6425', 5.75),
 ('1998', 5.75),
 ('5556', 5.75),
 ('69122', 5.743001986254258),
 ('356', 5.742999308159714),
 ('64614', 5.739617220805051),
 ('5618', 5.7394802217970184),
 ('457', 5.734709257735897),
 ('5991', 5.732164371755594),
 ('1278', 5.728808637049407),
 ('2000', 5.723297985868237),
 ('1721', 5.721846323312835),
 ('1639', 5.720056728651965),
 ('1206', 5.7038236098870225),
 ('62250', 5.702800163939743),
 ('3489', 5.702675438900881),
 ('6893', 5.702071977599394),
 ('733', 5.699580436506807),
 ('1204', 5.698875137225698),
 ('1036', 5.684253432902629),
 ('1387', 5.681770150585992),
 ('95858', 5.680949262414876),
 ('110669', 5.678571428571429),
 ('127096', 5.678571428571429),
 ('4995', 5.677091258112547),
 ('1732', 5.672699369201453),
 ('4776', 5.664610142535162),
 ('3275', 5.648200368330896),
 ('3967', 5.64426924059601),
 ('913', 5.636063029001903),
 ('2542', 5.634920765845605),
 ('1682', 5.632741257721678),
 ('1252', 5.631106366777475),
 ('32587', 5.626606468301648),
 ('2502', 5.62652152519966),
 ('127198', 5.625286546198774),
 ('94896', 5.620535714285714),
 ('104069', 5.619299656625603),
 ('18', 5.618517586243111),
 ('916', 5.617085769584798),
 ('1073', 5.616594700624319),
 ('377', 5.616081152950657),
 ('99114', 5.612687533784387),
 ('5952', 5.612029994595472),
 ('8340', 5.61170382368101),
 ('6711', 5.609868415525065),
 ('2003', 5.608908104532219),
 ('1198', 5.60883976174067),
 ('58025', 5.598461157499477),
 ('2028', 5.59427212745557),
 ('529', 5.587324464304768),
 ('48780', 5.5863952781157575),
 ('2858', 5.579289220086078),
 ('4246', 5.576221283474185),
 ('1220', 5.575955577722802),
 ('5218', 5.575763198787),
 ('52319', 5.575022243543536),
 ('68954', 5.573623784537494),
 ('5956', 5.571639759382094),
 ('3421', 5.571127250689319),
 ('96815', 5.569507646715775),
 ('70946', 5.563831651792134),
 ('2139', 5.562397740242211),
 ('55290', 5.561499700179857),
 ('52435', 5.560545580548585),
 ('902', 5.557915085568538),
 ('32', 5.555067600128194),
 ('6', 5.553802282568534),
 ('33679', 5.552351386704622),
 ('1348', 5.54969459650973),
 ('51255', 5.547114759383078),
 ('1884', 5.5468343183946045),
 ('33004', 5.544748014627546),
 ('5445', 5.544493600783913),
 ('167746', 5.543358766152014),
 ('2144', 5.5430247469935985),
 ('55820', 5.540371609173265),
 ('3052', 5.5403203306844615),
 ('589', 5.534822139578739),
 ('2161', 5.534714644644631),
 ('65261', 5.5329321295765475),
 ('5299', 5.532250455308779),
 ('10', 5.527548970145784),
 ('147380', 5.526066388862676),
 ('2005', 5.524971863508821),
 ('5989', 5.522144261880429),
 ('165639', 5.5178762227294476),
 ('6250', 5.512770760584135),
 ('1235', 5.510633030334391),
 ('104913', 5.501098106176864),
 ('91974', 5.497918141583028),
 ('93563', 5.496168450419098),
 ('3468', 5.492175701990051),
 ('1921', 5.488530415319458),
 ('353', 5.4865696124148196),
 ('66097', 5.485477317389174),
 ('71156', 5.482104178882805),
 ('59315', 5.478584582232505),
 ('1193', 5.477800220086122),
 ('43679', 5.477108448480506),
 ('1777', 5.473361248155061),
 ('48082', 5.472760401085517),
 ('1285', 5.471794420133403),
 ('1097', 5.467940627524231),
 ('159441', 5.464285714285714),
 ('33166', 5.4628831888806975),
 ('63082', 5.4554992098449615),
 ('120466', 5.451096756762135),
 ('71535', 5.4499212585837),
 ('4226', 5.449346629361768),
 ('55247', 5.4445825600427815),
 ('595', 5.443906319005942),
 ('8874', 5.441806177162137),
 ('2657', 5.4397154474298315),
 ('103335', 5.435354025815751),
 ('145', 5.435057772639787),
 ('616', 5.4328822948819635),
 ('93363', 5.432496095607284),
 ('166492', 5.428571428571429),
 ('523', 5.428571428571429),
 ('100083', 5.428571428571429),
 ('155509', 5.428571428571429),
 ('65685', 5.428571428571429),
 ('1265', 5.424578980657142),
 ('49272', 5.423313986510475),
 ('45447', 5.413848895774263),
 ('53129', 5.412338372124457),
 ('166946', 5.409500866888548),
 ('56367', 5.406157364216346),
 ('5377', 5.403005964687537),
 ('4881', 5.40132837443166),
 ('4361', 5.400291559054609),
 ('4262', 5.400251708552971),
 ('45722', 5.3982495867173945),
 ('3114', 5.396131606920297),
 ('8132', 5.392935423251743),
 ('44761', 5.391311258621414),
 ('180', 5.387508274533058),
 ('112852', 5.385044342972595),
 ('590', 5.384321210515691),
 ('780', 5.383924866307242),
 ('112175', 5.382933995423592),
 ('54997', 5.382137270682481),
 ('147376', 5.380523255813953),
 ('3793', 5.37890472893472),
 ('3740', 5.3773238923603115),
 ('364', 5.377215218269827),
 ('150', 5.374471356847219),
 ('4025', 5.374096962533452),
 ('134130', 5.372623230781294),
 ('1219', 5.372318811727372),
 ('88954', 5.370535714285714),
 ('27773', 5.369901414550263),
 ('2746', 5.369474434998726),
 ('44397', 5.368863585478483),
 ('7438', 5.366944176664475),
 ('39292', 5.3665295033419),
 ('46723', 5.365240056014639),
 ('65514', 5.361637781354689),
 ('2947', 5.360953515927564),
 ('6016', 5.35925276515467),
 ('909', 5.3552411460541425),
 ('1552', 5.352745084778061),
 ('53125', 5.347370702310776),
 ('1178', 5.347049541511779),
 ('2295', 5.346114417989418),
 ('71057', 5.344798642888511),
 ('56801', 5.339665940258278),
 ('91485', 5.339204637867309),
 ('475', 5.337375338779545),
 ('141', 5.336277489801992),
 ('91529', 5.334177587706072),
 ('64969', 5.329501475013296),
 ('51662', 5.326448632302453),
 ('1240', 5.322378561492229),
 ('69134', 5.322150916927786),
 ('52950', 5.319507646715774),
 ('555', 5.3191515077634905),
 ('2791', 5.318502700607627),
 ('5418', 5.313519484613198),
 ('4811', 5.3125),
 ('51088', 5.3125),
 ('333', 5.308624657599057),
 ('5010', 5.307528940707273),
 ('6539', 5.305524529879078),
 ('562', 5.300083419711104),
 ('1172', 5.299555150487084),
 ('4306', 5.296546526381562),
 ('38061', 5.2955250823461855),
 ('111759', 5.292253875641307),
 ('2959', 5.290647448348581),
 ('3916', 5.290438950209103),
 ('648', 5.28702156824246),
 ('4848', 5.283673171888756),
 ('70994', 5.2825317828774025),
 ('2696', 5.279452285664724),
 ('71254', 5.279342279768004),
 ('67255', 5.278461826963865),
 ('480', 5.27749268160041),
 ('1261', 5.276634828610915),
 ('720', 5.276117243270374),
 ('3949', 5.275754462338702),
 ('51935', 5.275334780145771),
 ('92535', 5.273773991137697),
 ('971', 5.27370527921255),
 ('54503', 5.272881661385447),
 ('1573', 5.270495336995115),
 ('1196', 5.268576959458182),
 ('83613', 5.266956942577463),
 ('2087', 5.266521517958224),
 ('56782', 5.265661651380252),
 ('53996', 5.265084624326782),
 ('41566', 5.262199637393084),
 ('71668', 5.261904761904762),
 ('89745', 5.2568280219896275),
 ('5747', 5.2542354145569625),
 ('7153', 5.254196631025642),
 ('31364', 5.252460769064863),
 ('96737', 5.249997668294538),
 ('1246', 5.2488654264719585),
 ('8665', 5.247228293791367),
 ('1120', 5.246571533692442),
 ('103253', 5.245643141016968),
 ('6040', 5.245053915890113),
 ('91128', 5.244389221943715),
 ('90531', 5.243422944639349),
 ('3696', 5.2432682925902805),
 ('2407', 5.24180423785762),
 ('594', 5.2404679611495535),
 ('8464', 5.2403816567231365),
 ('5064', 5.239980856429963),
 ('107348', 5.23867117346758),
 ('4022', 5.23843353230254),
 ('2021', 5.236115438101596),
 ('73017', 5.230296949517412),
 ('2908', 5.22924643174402),
 ('62', 5.224071979760714),
 ('60037', 5.223114091328339),
 ('2018', 5.218735266330512),
 ('4061', 5.21816338747971),
 ('142488', 5.217104780407432),
 ('165947', 5.214285714285714),
 ('101142', 5.212680727514299),
 ('171763', 5.209989522918756),
 ('4027', 5.209452185408283),
 ('216', 5.208647616308101),
 ('2194', 5.204907079018212),
 ('1269', 5.2047808851954995),
 ('2248', 5.20162241674388),
 ('2093', 5.198188093147065),
 ('55765', 5.198161688824924),
 ('2915', 5.198145385642143),
 ('3252', 5.195933529116387),
 ('138210', 5.195892811816379),
 ('1645', 5.1952998203068566),
 ('91323', 5.193909672993392),
 ('60979', 5.193856024675682),
 ('1035', 5.193723000764905),
 ('26326', 5.192275519267256),
 ('96079', 5.1881124997712735),
 ('7371', 5.187990111683984),
 ('7099', 5.186020456878568),
 ('85401', 5.1856015287156945),
 ('3253', 5.1820243328575675),
 ('3037', 5.179863169446308),
 ('148652', 5.178571428571429),
 ('171867', 5.178571428571429),
 ('34437', 5.178228248930865),
 ('2423', 5.177526154539212),
 ('60684', 5.176416335884794),
 ('64575', 5.175488616529885),
 ('2115', 5.1751064832168705),
 ('6586', 5.175031832800391),
 ('89492', 5.174015979290807),
 ('736', 5.172110501930695),
 ('6378', 5.171361316974849),
 ('2772', 5.169448011393275),
 ('48774', 5.167443125985131),
 ('52281', 5.167009253292092),
 ('345', 5.166552485019832),
 ('3911', 5.166007203145439),
 ('147', 5.165193289693262),
 ('114935', 5.163026416655743),
 ('5945', 5.162733591247437),
 ('2504', 5.162381107256335),
 ('50601', 5.1568001333617115),
 ('750', 5.155551621850821),
 ('61132', 5.155270327476522),
 ('3751', 5.15435710863893),
 ('4878', 5.153856146737257),
 ('49530', 5.153305017425547),
 ('8368', 5.15162071110584),
 ('79702', 5.1511352259589),
 ('6350', 5.150037192329554),
 ('152077', 5.148781798405938),
 ('3897', 5.146046370035784),
 ('1889', 5.144621628267662),
 ('93840', 5.143545270074999),
 ('158872', 5.1400423694060615),
 ('588', 5.138928800705082),
 ('112290', 5.137360903733589),
 ('86892', 5.134137555172),
 ('5971', 5.132137059965542),
 ('90345', 5.130818558084509),
 ('105593', 5.130523255813953),
 ('117192', 5.130523255813953),
 ('147382', 5.130523255813953),
 ('148671', 5.130523255813953),
 ('2871', 5.129990792961918),
 ('1259', 5.126295136098816),
 ('968', 5.125399453809802),
 ('165', 5.124930001806428),
 ('62849', 5.120474022223394),
 ('6377', 5.119885358028361),
 ('88129', 5.119713589066674),
 ('8949', 5.119305672061439),
 ('3671', 5.116972639075481),
 ('8622', 5.116197031199437),
 ('90746', 5.115853257311983),
 ('2124', 5.115414009005477),
 ('441', 5.114425150037947),
 ('72356', 5.112197672446035),
 ('68157', 5.111195422024619),
 ('4963', 5.111053350840096),
 ('3814', 5.110542521137455),
 ('3317', 5.10990044854173),
 ('8636', 5.109030670474583),
 ('48385', 5.108206677996661),
 ('1086', 5.107700045827559),
 ('223', 5.107644520527288),
 ('134368', 5.1064905269535465),
 ('4735', 5.1053076202447745),
 ('610', 5.103325508890756),
 ('2145', 5.101850936307689),
 ('88744', 5.101373878074217),
 ('61024', 5.099798195239367),
 ('2454', 5.099785153760073),
 ('2987', 5.099254642312139),
 ('1370', 5.099187695097015),
 ('148881', 5.097058999761211),
 ('3018', 5.0955642307148725),
 ('47124', 5.093810989022463),
 ('64839', 5.092766768416644),
 ('288', 5.090740906681556),
 ('21', 5.0885339267093315),
 ('3535', 5.08802960728882),
 ('76060', 5.08753264324914),
 ('32456', 5.084839161948553),
 ('5816', 5.083218459857636),
 ('58998', 5.081887740938976),
 ('14', 5.081800895679876),
 ('68237', 5.081388249756279),
 ('74545', 5.080693018797439),
 ('27838', 5.080489417989418),
 ('3152', 5.079783665588303),
 ('16', 5.0788343250905905),
 ('1307', 5.077798280512749),
 ('65088', 5.074847175347554),
 ('88810', 5.074154385255254),
 ('34542', 5.073080580545749),
 ('94', 5.0724756044542545),
 ('8970', 5.069419605027983),
 ('112556', 5.067144721530626),
 ('2951', 5.066698902463241),
 ('1967', 5.065722226096373),
 ('930', 5.0645496754469415),
 ('2804', 5.064520939410015),
 ('1961', 5.064448585334473),
 ('1282', 5.06181963148505),
 ('7346', 5.058662970546528),
 ('6957', 5.057937782871976),
 ('185', 5.057435429234735),
 ('1199', 5.05716416077287),
 ('8644', 5.057003400878666),
 ('115713', 5.056875809655768),
 ('7254', 5.054903078192192),
 ('553', 5.05316081680953),
 ('2973', 5.052884045870192),
 ('4733', 5.052505485440635),
 ('1429', 5.052328886465782),
 ('97913', 5.051624300177805),
 ('2081', 5.051506812828565),
 ('1982', 5.050377947051381),
 ('136020', 5.049433006572234),
 ('38038', 5.049120983818619),
 ('71264', 5.04330968966649),
 ('47099', 5.042894111895043),
 ('4973', 5.041421173333277),
 ('8641', 5.041332985696929),
 ('2700', 5.039952684551309),
 ('51540', 5.039219870498728),
 ('1207', 5.038334656152496),
 ('104211', 5.037608163197107),
 ('40819', 5.037381605558708),
 ('2596', 5.036695326934414),
 ('33493', 5.035347813114978),
 ('1032', 5.034190314531248),
 ('1923', 5.031119741058229),
 ('112421', 5.030938184534242),
 ('57669', 5.03078231252219),
 ('2797', 5.030360836885068),
 ('2174', 5.0279276426767385),
 ('55721', 5.027616036902618),
 ('56174', 5.026591044094188),
 ('428', 5.022995914699149),
 ('102033', 5.021792181956911),
 ('4896', 5.018194071370169),
 ('127098', 5.016722897575919),
 ('103141', 5.016380842280537),
 ('44199', 5.016237177723977),
 ('224', 5.014990333599747),
 ('6874', 5.0144757412195915),
 ('2918', 5.013683758644484),
 ('106489', 5.010916630859726),
 ('1275', 5.009727812381397),
 ('46948', 5.009556168904246),
 ('954', 5.008697553381075),
 ('3101', 5.007285092958637),
 ('122912', 5.006683296315577),
 ('7981', 5.0054221494559),
 ('524', 5.002788948716296),
 ('131724', 5.0),
 ('5746', 5.0),
 ('6835', 5.0),
 ('3851', 5.0),
 ('1151', 5.0),
 ('1631', 5.0),
 ('2075', 5.0),
 ('176601', 5.0),
 ('92494', 5.0),
 ('102217', 5.0),
 ('27523', 5.0),
 ('67618', 5.0),
 ('8804', 5.0),
 ('26350', 5.0),
 ('31522', 5.0),
 ('53', 5.0),
 ('1140', 5.0),
 ('6402', 5.0),
 ('8238', 5.0),
 ('25887', 5.0),
 ('34312', 5.0),
 ('44851', 5.0),
 ('47736', 5.0),
 ('50999', 5.0),
 ('53280', 5.0),
 ('53355', 5.0),
 ('53578', 5.0),
 ('60737', 5.0),
 ('69211', 5.0),
 ('69469', 5.0),
 ('72692', 5.0),
 ('73822', 5.0),
 ('79897', 5.0),
 ('83969', 5.0),
 ('84512', 5.0),
 ('85295', 5.0),
 ('87834', 5.0),
 ('91355', 5.0),
 ('91386', 5.0),
 ('93022', 5.0),
 ('95843', 5.0),
 ('96608', 5.0),
 ('96935', 5.0),
 ('103602', 5.0),
 ('107951', 5.0),
 ('108078', 5.0),
 ('109241', 5.0),
 ('118270', 5.0),
 ('118834', 5.0),
 ('118894', 5.0),
 ('121781', 5.0),
 ('122092', 5.0),
 ('124404', 5.0),
 ('126088', 5.0),
 ('126921', 5.0),
 ('128087', 5.0),
 ('131098', 5.0),
 ('131130', 5.0),
 ('131610', 5.0),
 ('132153', 5.0),
 ('134004', 5.0),
 ('134847', 5.0),
 ('136341', 5.0),
 ('136353', 5.0),
 ('136355', 5.0),
 ('136359', 5.0),
 ('136503', 5.0),
 ('136834', 5.0),
 ('139640', 5.0),
 ('140133', 5.0),
 ('141928', 5.0),
 ('142444', 5.0),
 ('143031', 5.0),
 ('143559', 5.0),
 ('146684', 5.0),
 ('147410', 5.0),
 ('149350', 5.0),
 ('149508', 5.0),
 ('149566', 5.0),
 ('150554', 5.0),
 ('156025', 5.0),
 ('157775', 5.0),
 ('158398', 5.0),
 ('158882', 5.0),
 ('3687', 5.0),
 ('4788', 5.0),
 ('5888', 5.0),
 ('5889', 5.0),
 ('26587', 5.0),
 ('26849', 5.0),
 ('80124', 5.0),
 ('95175', 5.0),
 ('95311', 5.0),
 ('104780', 5.0),
 ('109633', 5.0),
 ('120138', 5.0),
 ('129514', 5.0),
 ('130970', 5.0),
 ('130978', 5.0),
 ('131237', 5.0),
 ('134095', 5.0),
 ('134109', 5.0),
 ('136445', 5.0),
 ('136447', 5.0),
 ('138835', 5.0),
 ('140265', 5.0),
 ('141816', 5.0),
 ('142020', 5.0),
 ('143511', 5.0),
 ('145994', 5.0),
 ('147196', 5.0),
 ('147250', 5.0),
 ('147286', 5.0),
 ('147300', 5.0),
 ('147326', 5.0),
 ('147328', 5.0),
 ('147330', 5.0),
 ('151769', 5.0),
 ('159811', 5.0),
 ('163072', 5.0),
 ('163112', 5.0),
 ('163386', 5.0),
 ('163925', 5.0),
 ('165959', 5.0),
 ('166183', 5.0),
 ('170597', 5.0),
 ('170777', 5.0),
 ('171749', 5.0),
 ('172577', 5.0),
 ('172583', 5.0),
 ('172585', 5.0),
 ('172587', 5.0),
 ('172589', 5.0),
 ('172637', 5.0),
 ('172793', 5.0),
 ('172909', 5.0),
 ('173351', 5.0),
 ('173355', 5.0),
 ('173619', 5.0),
 ('173963', 5.0),
 ('174551', 5.0),
 ('175293', 5.0),
 ('175387', 5.0),
 ('175397', 5.0),
 ('175431', 5.0),
 ('179133', 5.0),
 ('99636', 5.0),
 ('3795', 5.0),
 ('7096', 5.0),
 ('128914', 5.0),
 ('162344', 5.0),
 ('2969', 5.0),
 ('141718', 5.0),
 ('5088', 5.0),
 ('86721', 5.0),
 ('3096', 5.0),
 ('3473', 5.0),
 ('26078', 5.0),
 ('8911', 5.0),
 ('25906', 5.0),
 ('77846', 5.0),
 ('93008', 5.0),
 ('6192', 5.0),
 ('172705', 5.0),
 ('4813', 5.0),
 ('5244', 5.0),
 ('26840', 5.0),
 ('33138', 5.0),
 ('99', 5.0),
 ('148', 5.0),
 ('496', 5.0),
 ('5607', 5.0),
 ('146662', 5.0),
 ('3496', 5.0),
 ('27320', 5.0),
 ('6983', 5.0),
 ('26366', 5.0),
 ('7815', 5.0),
 ('2824', 5.0),
 ('4116', 5.0),
 ('5241', 5.0),
 ('5723', 5.0),
 ('5745', 5.0),
 ('6086', 5.0),
 ('3086', 5.0),
 ('6818', 5.0),
 ('64499', 5.0),
 ('64501', 5.0),
 ('140627', 5.0),
 ('158027', 5.0),
 ('4180', 5.0),
 ('7071', 5.0),
 ('26073', 5.0),
 ('26928', 5.0),
 ('74226', 5.0),
 ('78836', 5.0),
 ('84273', 5.0),
 ('86237', 5.0),
 ('117531', 5.0),
 ('134796', 5.0),
 ('138966', 5.0),
 ('179135', 5.0),
 ('184245', 5.0),
 ('70451', 5.0),
 ('136850', 5.0),
 ('3567', 5.0),
 ('109687', 5.0),
 ('27751', 5.0),
 ('7122', 5.0),
 ('8580', 5.0),
 ('112512', 5.0),
 ('5468', 5.0),
 ('6021', 5.0),
 ('42556', 5.0),
 ('82744', 5.0),
 ('95149', 5.0),
 ('102084', 5.0),
 ('108795', 5.0),
 ('172875', 5.0),
 ('44943', 5.0),
 ('5537', 5.0),
 ('6408', 5.0),
 ('8738', 5.0),
 ('26147', 5.0),
 ('59814', 5.0),

In [ ]:
k, m = 3, 100
hashes = [dict() for _ in range(m)]

np.random.seed(12345)
hashbits = np.random.randint(10, size=(m, k))

In [ ]:
def hashcode(movie, i):
    """ get the i'th hash code of movie(0 <= i < m) """
    ratings = list(_movie_ratings2[movie].items())
    ratings.sort(key=lambda x : -x[1])


    row = hashbits[i]
    str = ""
    for x in row:
        if x >= len(ratings):
            x = 0
        str += ratings[x][0]
    return str

In [ ]:
k, m = 20, 1
hashes = [dict() for _ in range(m)]

strlen = len(_user_ratings2) * 10 # 10 possible ratings

np.random.seed(123)
hashbits = np.random.randint(strlen, size=(m, k))

In [ ]:
def hashcode(movie, i):
    """ get the i'th hash code of movie(0 <= i < m) """
    row = hashbits[i]
    str2 = ""
    for x in row:
        hash_user = x // 10
        hash_rating = x % 10
        if str(hash_user) not in _movie_ratings2[movie]:
            rating = 0
        else:
            rating = _movie_ratings2[movie][str(hash_user)]

        if hash_rating < int(2*rating):
            str2 += '1'
        else:
            str2 += '0'
    return str2

In [ ]:
def hash_all_movies():
    """ go through all movies and store them in hash table(s) """
    for movie in _movie_ratings2.keys():
        for i in range(m):
            user = hashcode(movie, i)

            # store it into the dictionary..
            # (well, the index not the whole array!)
            if user not in hashes[i]:
                hashes[i][user] = []
            hashes[i][user].append(movie)
    return

In [ ]:
def candidates(movie):
    """ given movie, return set of indices of matching candidates """
    res = set()
    for i in range(m):
        code = hashcode(movie, i)
        if code in hashes[i]:
            res.update(hashes[i][code])
    return res

In [ ]:
hash_all_movies()

In [ ]:
len(candidates('260'))